@model Bshkara.Web.Models.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Log in";
}

@section Styles {
    @Styles.Render("~/ForgotPasswordStyles/css")
}

<!-- BEGIN LOGO -->
<div class="logo">
    <a href="index.html">
        <img src="../assets/pages/img/logo-big.png" alt="" />
    </a>
</div>
<!-- END LOGO -->

<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN FORGOT PASSWORD FORM -->
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "forget-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h3 class="font-green">@BshkaraRes.Login_ForgetPassword</h3>
        <p> @BshkaraRes.Login_EnterEmailToReset </p>
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", autocomplete = "off", placeholder = BshkaraRes.Login_Email, name = "email" })
        </div>

        <div class="form-actions">
            <button type="button"  onclick="location.href='@Url.Action("Login", "Account")'" id="back-btn" class="btn green btn-outline">@BshkaraRes.Back</button>
            <button type="submit" class="btn btn-success uppercase pull-right">@BshkaraRes.Submit</button>
        </div>
    }
    <!-- END FORGOT PASSWORD FORM -->

</div>
<!-- END LOGIN -->
<div class="copyright">@BshkaraRes.Copyright</div>

@section Plugins {
    @Scripts.Render("~/LoginPlugins/js")
}