@using PagedList.Mvc
@model Bshkara.Web.ViewModels.BookingViewModel

@{
    ViewBag.Title = "Requests to hire ";
}


@section Styles {
    @Styles.Render("/Assets/global/plugins/datatables/datatables.min.css")
    @Styles.Render("/Assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")
}


<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-envelope"></i>
                    <span class="caption-subject bold uppercase">@ViewBag.Title</span>
                </div>
            </div>
@using (Html.BeginForm("Index", "Countries", FormMethod.Get, new {id = "formIndex"}))
{
    <div class="portlet-body">
        <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div><label>Show @Html.DropDownList("pageSize", @Model.ItemsPerPageList, new {@id = "ItemsPerPageList", onchange = "this.form.submit();", @class = "form-control"})</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div><label>Search:
                            <div class="input-group">
                                @Html.EditorFor(model => model.SearchString, new {htmlAttributes = new {@class = "form-control", placeholder = "Search by name..."}, type = "submit"})
                                <div class="input-group-btn">
                                    <button id="btnSearch" type="submit" class="btn btn-default" title="Search"><i class="fa fa-search"></i></button>
                                    <a onclick="$('#SearchString').val(''); $('#btnSearch').click();" class="btn btn-default" title="Clear"><i class="fa fa-close"></i></a>
                                </div>
                            </div>
                        </label>

                    </div>
                </div>
            </div>
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover order-column dataTable no-footer" role="grid">
                    <thead>
                    <th>Maid</th>
                    <th>User</th>
                    <th>Status</th>
                    <th style="width: 100px">Action</th>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Items.ToList())
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Maid.Name.En)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookingStatus)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="@Url.Action("Accept", "Booking", new { id = item.Id })">
                                                <i class="fa fa-pencil-square-o"></i> Accept
                                            </a>
                                        </li>
                                        <li>
                                            <a onclick="deleteItem('@item.Id')">
                                                <i class="fa fa-trash-o"></i> Reject
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 pull-right text-right">
                    @Html.PagedListPager(Model.Items, pageNumber => Url.Action("Index", new {pageNumber, sortOrder = "", searchString = @Model.SearchString, pageSize = @Model.PageSize, currentFilter = ""}))
                </div>
            </div>
        </div>
    </div>
}
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("/Assets/pages/scripts/table-datatables-managed.min.js")

    <script type="text/javascript">
            // ajax delete
            function deleteItem(id) {
                if (window.confirm("Are you sure?")) {
                    $.get("/Booking/Delete/" + id, function (data) {
                        if (data.Success) {
                            $('#formIndex').submit();
                        }
                        else {
                            toastr["error"](data.Error, 'Error');
                        }
                    });
                }
            }
    </script>
}

@section Plugins {
    @Scripts.Render("/Assets/global/scripts/datatable.js")
    @Scripts.Render("/Assets/global/plugins/datatables/datatables.min.js")
    @Scripts.Render("/Assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")
}
